
body { 
    width: 800px;
    margin:0 auto;
}

/*header*/

header {
    text-align: center;
    background-color:whitesmoke;
}
hr {
    border: none;
    height: 3px;
    color:goldenrod;
    background-color:goldenrod;
}

/*Immagine del profilo*/

img {
    width: 250px;
    height: 250px;
}

/*Titoli e sottotili*/

h2 {
    color:#d08d10;
}
h3 {
    font-style:italic;
}

/*Paragrafi*/

p {
    font-weight: bold;
}

/*Footer*/

#footer-hr {
    height: 2px;
}
.footer {
    text-align: center;
    font-weight: normal;
}