#body {
    display:flex
}
#div-main { 
    
    margin-left: 500px;
    margin-right: 500px;
}
#div-header {
    text-align: center;
    background-color:whitesmoke;
}

#img {
    width: 250px;
    height: 250px;
}

#footer {
    text-align: center;
}

.titles-1 {
    color:darkgoldenrod;
}

.titles-2 {
    font-style: italic;
}