
#div-main { 
    width: 800px;
    margin:0 auto;
}

/*header*/

#div-header {
    text-align: center;
    background-color:whitesmoke;
}

.header-hr {
    border: none;
    height: 3px;
    color:goldenrod;
    background-color:goldenrod;
}

/*Immagine del profilo*/

#profile-img {
    width: 250px;
    height: 250px;
}

/*Titoli e sottotili*/

h2 {
    color:#d08d10;
}

h3 {
    font-style:italic;
}

/*Paragrafi*/

p {
    font-weight: bold;
}

/*Footer*/

.footer-hr {
    border: none;
    height: 2px;
    color:goldenrod;
    background-color:goldenrod;
}
.footer {
    text-align: center;
    font-weight: normal;
}