/*Sfondo*/
body { 
    background-image: url(/html-css-curriculum-vitae/bonus/img/backgroundhw.jpg);
    background: scroll fixed;
    text-align: center;
    color: white;
}
/*Titolo principale*/
h1 {
    border-style:dashed;
    border-color: darkorange;
    font-family: fantasy;
    font-size: 50px;
}
/*Titolo secondario*/
h2 {
    font-style: italic;
    font-size: 40px;
}
/*Font del form*/
form {
    font-family:'Courier New', Courier, monospace;
}
/*Stile del paragrafo*/
p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
/*Stile del footer*/
footer {
    font-weight: bold;
    font-size: 15px;
}
/*Stile dei divisori*/
hr {
    color: darkorange;
    background-color: darkorange;
    border: none;
    height: 2px;
}
