body {
    background-image: url(/bonus/img/backgroundhw.jpg);
    background: scroll fixed; 
    text-align: center;
    color: white;
}

h1 {
    text-align:center;
    border-style:dashed;
    border-color: darkorange;
    font-family: fantasy;
    font-size: 50px;
}

#paragrafo-div {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

footer {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

hr {
    color: darkorange;
    background-color: darkorange;
    border: none;
    height: 2px;
}
